<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title th:text="#{login}+' | '+ #{shop.title}"> </title>
	<link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>
	<div class="fulllogin">
		<img class="image" th:src="@{#}">
		<div class="login">
			<h3 class="memberlogin">---MEMBER LOGIN---</h3>
			<h2 class="login-size">ログイン</h2>
			<h4 class="login-explanation">ご登録のメールアドレスとパスワードでログインしてください</h4>
			<form th:action="@{/login}" method="post" class="login_form" th:object="${loginForm}">

				<div class="form-group">
					<label for="email" class="form-label">メールアドレス</label>
					<input type="email" th:field="*{email}" class="form-control" placeholder="your@email.com" required>
				</div>
				<div class="form-group">
					<label for="password" class="form-label">パスワード</label>
					<input type="password" th:field="*{password}" class="form-control" placeholder="パスワードを入力" required>
				</div>

				<input type="submit" class="btn-login" value="ログイン"></input>
			</form>

			<p class="or">ーーーーーーーーーーーーーまたはーーーーーーーーーーーーー</p>
			<form th:action="@{/client/user/regist/input/init}" method="get">
				<input type="submit" class="btn-Registration" value="新規会員登録はこちら"></input>
			</form>
			<div class="forgot-password">
				<a th:href="@{/}">トップへ戻る</a>
			</div>
		</div>

	</div>
	<div class="tytle">
		<h1 class="shopname">FRANÇAIS<br>COFFEE</h1>
		<h5 class="welcom">ーーーWELCOM BACK</h5>
		<h2 class="phrase">あなたの日常に、<br>世界の香りを。</h2>
		<h3 class="subphrase">国境を越えて届く上質な豆が、今日の一杯をもっと特別に変える。</h3>
	</div>


	</form>
	</div>
</body>

</html>